/* UNIVERSAL STYLES */

* { 
box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

main {
    position: relative;
    top: 4rem;
}

h1 {
    text-transform: uppercase;
    font-size: 1.65rem;
}

h2 {
    font-size: 3rem;
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
}

h4 {
    font-size: 1.1rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    line-height: 1.2;
}

@media only screen and (min-width: 850px) {
    .mobile {
      display: none;
    }
}

@media only screen and (max-width: 850px) {
    .desktop {
      display: none;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
}

/* HEADER */

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 5;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    justify-content: space-between;
}

.logo-holder {
    height: 2rem;
    display: flex;
}

header nav ul {
    display: flex;
}

nav a {
    font-family: 'Dela Gothic One', cursive;
    padding-left: 1.75rem;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}

nav a:hover {
    color: rgb(255, 217, 0);
    letter-spacing: 0.2rem;
    transition: color 0.35s, letter-spacing 0.45s;
}

nav a:active {
    color: rgb(255, 251, 213);
}

/* HEADER MOBILE */

@media only screen and (max-width: 850px) {
    header .mobile {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* BANNER */

.banner {
    display: flex;
    padding: 2rem 1.5rem;
    background-color: rgb(255, 251, 213);
}

.banner img {
    max-width: 60%;
    margin-right: 2rem;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    padding-right: 4rem;
    line-height: 1.2;
    min-width: 21.5rem;
}

.button {
    background-color: rgb(255, 217, 0);
    color: rgb(83, 83, 83);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    text-align: center;
    max-width: 80%;
    font-family: 'Dela Gothic One', cursive;
    text-transform: uppercase;
}

a.button:hover {
    background-color: rgb(255, 251, 213);
    border: 1px solid rgb(228, 186, 0);
    color: rgb(61, 61, 61);
    letter-spacing: 0.2rem;
    transition: color 0.35s, background-color 0.35s, letter-spacing 0.5s, border 0.35s;
}

a.button:active {
    background-color: rgb(228, 186, 0);
    
}

/* BANNER MOBILE */

@media only screen and (max-width: 850px) {
    .banner {
        flex-direction: column;
        padding: 0rem;
        justify-content: center;
    }

    .banner img {
        max-width: 100%;
        margin: 0;
    }

    .banner-text {
        max-width: 100%;
        padding: 1rem;
    }

    .button {
        max-width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
}

/* PRACTICE */

.practice {
    display: flex;
    padding: 2rem 1.5rem;
}
.practice .quote {
    max-width: 60%;
    margin-right: 1.5rem;
}

.quote img {
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.practice-text h3 {
    text-align: left;
    padding-bottom: 1.5rem;
}

.practice-text p {
    padding-bottom: 2rem;
}

/* PRACTICE SIDEPANEL */

.practice-sidepanel {
    display: flex;
    max-width: 40%;
    flex-direction: column;
}

.practice-sidepanel .panel {
    display: flex;
    border-left: 1px rgb(215, 233, 255) solid;
    min-width: 21.5rem;
}

.practice-sidepanel .orientation {
    border-bottom: 1px rgb(215, 233, 255) solid;
}

.practice-sidepanel .guestlecture {
    background-color: rgb(215, 233, 255);
}

.practice-sidepanel img {
    max-width: 35%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.practice-sidepanel .panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 2rem;
    line-height: 1.6;
}

.practice-sidepanel a {
    color: rgb(81, 135, 235);
    text-decoration: none;
    font-weight: 400;
}

.practice-sidepanel a:hover {
    letter-spacing: 0.2rem;
    transition: letter-spacing 0.45s;
}

.practice-sidepanel a:active {
    color: rgb(30, 73, 212);
    transition: color 0.35s, letter-spacing 0.45s;
}

/* PRACTICE SIDEPANEL MOBILE */

@media only screen and (max-width: 850px) {
    section.practice {
        justify-content: center;
    }

    .practice-sidepanel {
        max-width: 100%;
    }

    .practice-sidepanel .panel {
        flex-direction: column;
        justify-content: flex-end;
        border: none;
    }

    .practice-sidepanel img {
        min-width: 100%;
        height: auto;
        padding: 0;
    }

    .practice-sidepanel .panel-text {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .practice-sidepanel .orientation {
        border: none;
    }
    
    .practice-sidepanel .guestlecture {
        background-color: white;
    }
}

/* COURSES */

.courses {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(255, 251, 213)
}

.courses-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    flex-wrap: wrap;
    flex-basis: content;
}

.courses .content {
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    max-width: 22rem;
}

.courses img {
    max-width: 100%;
    height: auto;
}

.courses h4, .courses p {
    margin: 1rem;
}

/* COURSES MOBILE */

@media only screen and (max-width: 850px) {
    .courses .content {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0.75rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        background-color: rgb(255, 217, 0);
    }

    .courses-content {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}

/* THESIS  */

.thesis {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.thesis-content {
    display: flex;
    padding: 2rem 1.5rem;
}

.thesis-video {
    max-width: 60%;
    margin-right: 1.5rem;
}

.thesis-video video {
    max-width: 100%;
    padding-bottom: 1.5rem;
}

.thesis-video h4 {
    padding-bottom: 1rem;
}

/* THESIS MOBILE */

@media only screen and (max-width: 850px) {
    .thesis-video {
        max-width: 100%;
        margin-right: 0rem;
    }

    .thesis-content {
        display: flex;
        padding: 1.5rem 0;
    }

    .thesis-video video {
        padding-bottom: 0;
    }
}

/* THESIS SIDEPANEL */

.thesis-sidepanel .panel {
    display: flex;
    min-width: 21.5rem;
    border-left: 1px rgb(215, 233, 255) solid;
}

.thesis-sidepanel img {
    max-width: 35%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
} 

.thesis-sidepanel .fisma {
    background-color: rgb(215, 233, 255);
}

.thesis-sidepanel .panel-text {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    padding-left: 1.5rem;
    padding-right: 2rem;
    justify-content: center;
    line-height: 1.6;
}

/* FOOTER  */

footer {
    display: flex;
    border-top: 1px solid rgb(215, 233, 255);
    /* background-color: rgb(215, 233, 255); */
    padding: 1.5rem;
    justify-content: space-between; 
}

footer p, footer a {
    font-size: 0.85rem;
}

footer a {
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}