/* UNIVERSAL STYLES */

html {
    font-family: Helvetica;
    font-size: 16px;
}

main {
    position: relative;
    top: 4rem;
}

h1 {
    text-transform: uppercase;
    font-size: 1.75rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

video {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .desktop {
      display: none;
    }
  }

/* HEADER */

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 5;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    align-items: center;
    background-color: white;
}

/* header .content {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  } */

header .logo {
    height: 2rem;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}

/* BANNER */

.banner {
    display: grid;
    padding: 2rem 1.5rem;
    grid-template: 100% / 60% 40%;
    grid-column-gap: 3rem;
    background-color: lightgray;
}

.banner img {
    max-width: 100%;
    grid-column: 1 / span 1;
}

.banner-text {
    display: flex;
    grid-column: 2 / span 1;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 18rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.button {
    background-color: darkgrey;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    text-align: center;
}

/* PRACTICE */

.practice {
    display: grid;
    padding: 2rem 1.5rem;
    grid-template: 100% / 60% 40%;
    grid-column-gap: 3rem;
}

.quote img {
    grid-column: 1 / span 1;
    max-width: 100%;
    padding-bottom: 2rem;
}

.practice-text p {
    padding-bottom: 2rem;
}

.practice-text h3 {
    text-align: left;
    padding-bottom: 1.5rem;
}

/* SIDEPANEL */

.sidepanel {
    display: grid;
    grid-template: repeat(3, 1fr) / 35% 65%;
}

.sidepanel .panel {
    display: flex;
    border: 1px lightgray solid;
}

.sidepanel .orientation {
    grid-row: 1 / span 1; 
}

.sidepanel .campus {
    grid-row: 2 / span 1;
}

.sidepanel .guestlecture {
    grid-row: 3 / span 1;
    background-color: rgb(119, 119, 119);
}

.sidepanel img {
    max-width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidepanel .panel-text {
    padding-left: 1.5rem;
    max-width: 25rem;
}

.sidepanel a {
    color: cornflowerblue;
    text-decoration: none;
}

/* COURSES */

.courses {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(240, 240, 240);
}

.courses-content {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    flex-wrap: wrap;
}

.courses .content {
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    max-width: 22rem;
}

.courses img {
    max-width: 100%;
    height: auto;
}

.courses h4, .courses p {
    padding: 1rem;
}

/* THESIS  */



/* FOOTER  */

footer {
    display: flex;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between; 
}

footer a {
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    vertical-align: bottom;
}